<section class="box">
  <ul class="box__list">
    <li class="box__list-item">
      <a [routerLink]="'/image'" class="box__list-item-link"
        >1) Random picture</a
      >
    </li>
    <li class="box__list-item">
      <a [routerLink]="'/gif'" class="box__list-item-link">2) Random gif</a>
    </li>
    <li class="box__list-item">
      <a [routerLink]="'/inscription'" class="box__list-item-link"
        >3) The picture with the iscription</a
      >
    </li>
  </ul>
</section>
<div class="picture"></div>
