.picture {
    position: fixed;
    top: 0;
    left: 0;
    background: url('../../../assets/images/chavk.gif') top/cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: -1;
}
